<%= form_for(@visiteur) do |f| %>
  <% if @visiteur.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@visiteur.errors.count, "error") %> prohibited this visiteur from being saved:</h2>

      <ul>
      <% @visiteur.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
