<h1>Listing visiteurs</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visiteurs.each do |visiteur| %>
      <tr>
        <td><%= visiteur.email %></td>
        <td><%= link_to 'Show', visiteur %></td>
        <td><%= link_to 'Edit', edit_visiteur_path(visiteur) %></td>
        <td><%= link_to 'Destroy', visiteur, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Visiteur', new_visiteur_path %>
